<div>
   <form action="/test" method="get">
      <div>
         <label for="fname">Wo soll das Abendtuer starten? </label>
         <input type="text" id="fstandpunkt" name="fstandpunkt"><br><br>
      </div>
      <div>
         <button type="Submit" value="Submit" name="Indoor">Indoor</button> 
         <button type="Submit" value="Submit" name="Outdoor">Outdoor</button>
         <button type="Submit" value="Submit" name="Kultur">Kultur</button>
      </div>
   </form>
 </div>